.itemDetail {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 10vh;
}
.monsterScores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.itemDetailButtons {
  display: flex;
  flex-flow: row nowrap;
}

h3 {
  background-color: grey;
  color: blanchedalmond;
  padding: 5vh;
  border-radius: 5px;
}
