.listMain {
  display: flex;
  flex-flow: column nowrap;
  background-color: #34ffc8;
  padding: 5vh;
  min-height: 80vh;
}

.welcome {
  color: whitesmoke;
  padding: 2vh;
  background-color: #001b38;
}
